*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body {
    font-family: Arial, Helvetica, sans-serif;  
    color: black;
}

header{
    background-color: white;
    padding: 15px 0;
    margin: 0 auto ;
  
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.container-sm {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}

.col-header{
    background-color: white;
}

hr{
    margin: 20px 0;
}



/*-----------------------------------------------------SPECIAL MARGIN*/

#margin-12{
    margin: 0 12vw;
}

/*-----------------------------------------------------COLORS*/
.bg-acqua{
    background-color: #b4d0e7;
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-jumbo {
     height: 25vw;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 .bg-black{
    background-color: black;
    color: white;
 }


/*-----------------------------------------------------COLONNE*/
 
p{
    margin: 10px 0;
}
h2,
h3,
h4,span ,ul
{
    margin: 20px 0;


}
.col-100{
    width: 100%;
    

}
.col-70 {
    width: 70%;
    
}
.col-60 {
    width: 60%;

}
.col-50 {
    width: 50%;
   

}
.col-40 {
    width: 40%;

}
.col-33 {
    width:calc( 100% / 3);
     
}
.col-30{
    width: 30%;
}
.col-20 {
    width: calc(100% / 5);
}
.col-16 {
    width:calc(100% / 6) ;
}

/*-----------------------------------------------------QUADRATI SPECIALI*/


.content-quadrato  {

    padding: 50px;
    height: 14vw;
}
.content-qua {

    padding: 0 25px;
    
 
}

.content-quadrato img {
    max-width: 100%;
        height: auto;
    }

.bg-verde {
    background-color: rgb(179, 220, 179);    
}
.bg-azzurro {
    background-color: rgb(67, 141, 221);
}
.bg-bordeux {
    background-color: rgb(116, 12, 38);
}
.bg-white {
    background-color: rgb(255, 255, 255);
}
.bg-rosso {
    background-color: rgb(208, 26, 26);
}
.bg-blue {
    background-color: rgb(47, 16, 173);
}
.bg-cielo {
    background-color: rgb(126, 177, 188);
}
.bg-giallo {
    background-color: rgb(225, 222, 64);
}
.bg-arancio {
    background-color: rgb(218, 44, 34);
}

.color-bordeux {
    color: rgb(116, 12, 38);
}

/*-----------------------------------------------------CONTENT*/

.content-30{
    background-color: white;
         
        border: 1px solid;
        border-color: #d8d8df;
        
        padding: 5px;

}
.content-0 {
    background-color: white;
    padding: 5px;

}
.content-1{
     
    padding: 5px;

}


/*-----------------------------------------------------BUTTON*/
.button {
    position: absolute;
    display: inline-block;
    padding: 15px 20px;
    font-size: 12px;
    background-color: #0061ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;

}

.button:active {
    background-color: #004085;

}
.button-white{
        position: absolute;
        display: inline-block;
        padding: 15px 20px;
        font-size: 18px;
        background-color: white;
        color: black;
        border: solid;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }



/*-----------------------------------------------------INSIDE FIRST 3 COLONNE*/
.font-12 {
    font-size: 14px;
}
.border-bt{
    border-bottom: solid 1px;
    width: 100%;
}

/*-----------------------------------------------------Entys*/

i{
    margin: 5px;
}


/*-----------------------------------------------------UTILITIES*/

.text-center {
    text-align: center;
}
ul {
    display: flex;
}
li   {
    display: inline-block;
}

.space-between{
    justify-content: space-between;
}
.align-center {
    align-items: center;}
.inline-block{
    display: inline-block;}
li{
    padding: 0 10px;
}

h1{
    font-size: 60px;
    padding: 20px 0;
}
.justify-center{
    justify-content: center;
}


.font-40{
    font-size: 40px;
}
 .top img {
     max-width: 100%;
     height: auto;
 }
 .flex{
    display: flex;
 }


/*-----------------------------------------------------space*/

.py-30{
    padding: 0 30px;
}
.px-20 {
    padding: 0 20px;
}

.my-30{
    margin-top: 30px;
}
.mx-10{
    margin-right: 25px;
}
 
.h-4{
    height: 4vw;
}
.h-1{
    height: 1vw;
}
.p-30{
    padding: 30px;
}
/*-----------------------------------------------------LINEE SPECIALI*/

.linea-bianca{
    background-color: white;
    width: 46%;
    height: 2px;

}

/*-----------------------------------------------------PROVE*/
.row-quadrati {
    display: flex;
    flex-wrap: wrap;

     
}
.mp-0{padding: 0;
margin: 0;}

.relative{
    position:relative
}
.position-1{
    top: 14px;
        right: 20px;
}
