*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body {
    font-family: Arial, Helvetica, sans-serif;  
    color: black;
}

header{
    background-color: red;
    padding: 15px 0;
    margin: 0 auto ;
  
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.container-sm {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}

.col-header{
    background-color: blue;
}






/*-----------------------------------------------------COLORS*/
.bg-acqua{
    background-color: aqua;
}

.bg-white {
    background-color: rgb(240, 240, 168);
}

 .bg-jumbo {
     height: 25vw;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }


/*-----------------------------------------------------COLONNE*/
r{
    width: 10%;
    margin: 20px 0;
}
h2,
h3,
h4,span ,ul
{
    margin: 20px 0;


}
.col-100{
    width: 100%;
    

}
.col-70 {
    width: 70%;
    
}
.col-60 {
    width: 60%;

}
.col-40 {
    width: 40%;

}
.col-30{
    width: 30%;
}



/*-----------------------------------------------------CONTENT*/

.content-30{
    background-color: yellow;
         
        border: 1px solid;
        
        padding: 5px;

}

/*-----------------------------------------------------BUTTON*/

.btn-blue{
    background-color: blueviolet;
    color: white;
    padding: 15px;
    height: 30px;
    align-items: center;
    display: flex;
    border: none;
}

/*-----------------------------------------------------INSIDE FIRST 3 COLONNE*/
.font-12 {
    font-size: 14px;
}
.border-bt{
    border-bottom: solid 1px;
    width: 100%;
}


/*-----------------------------------------------------UTILITIES*/

.text-center {
    text-align: center;
}
ul {
    display: flex;
}
li   {
    display: inline-block;
}

.space-between{
    justify-content: space-between;
}
.align-center {
    align-items: center;}
.inline-block{
    display: inline-block;}
li{
    padding: 0 10px;
}

h1{
    font-size: 60px;
    padding: 20px 0;
}
.justify-center{
    justify-content: center;
}


.font-40{
    font-size: 40px;
}


/*-----------------------------------------------------space*/

.py-30{
    padding: 0 30px;
}
.px-20 {
    padding: 0 20px;
}

.my-30{
    margin-top: 30px;
}
.mx-10{
    margin-right: 25px;
}
 
.h-4{
    height: 4vw;
}

/*-----------------------------------------------------PROVE*/


 .table {
     width: 80%;
     /* Larghezza del contenitore */
     margin: 0 auto;
     /* Centra il contenitore orizzontalmente */
     padding: 20px;
     border: 1px solid #ccc;
     background-color: #f9f9f9;
 }

 .content-top,
 .content-bottom {
     padding: 10px;
 }

 hr {
     border: none;
     border-top: 2px solid #ccc;
     /* Colore e spessore della linea */
     margin: 20px 0;
     /* Spaziatura intorno alla linea */
 }